
<section>
    <div class="container">
        <div class="row mt-4">
            <a href="/admin/add-product" class="btn btn-success ml-auto" style="width: 18%;">Add products</a>
        </div>
        <table  class="table mt-4 table-responsive" id="productsTable">
            {{!--   class="cell-border compact stripe" --}}
            <thead>
                <tr>
                    <th scope="col">No</th>
                    <th scope="col">Title</th>
                    <th scope="col">Category</th>
                    <th scope="col">Description</th>
                    <th scope="col">Price</th>
                    <th scope="col">Image</th>
                    <th scope="col">Edit</th>
                    <th scope="col">Delete</th>
                </tr>
            </thead>
            <tbody>
                {{#each products}}
                <tr>
                    <td ><span class="create_index"></span></td>
                    <td>{{this.name}}</td>
                    <td>{{this.category}}</td>            
                    <td>{{this.description}}</td>
                    <td>{{this.price}}</td>
                                        
                    <td><img style="width: 50px; height: 50px;" src="/product-images/{{this._id}}.jpg" alt=""></td>
                    <td><a href="/admin/edit-product/{{this._id}}" class="btn" style="color: white;background-color: black;">Edit</a></td>

                    <td><!-- Button trigger modal -->
<button type="button" class="btn" style="color: red;" data-mdb-toggle="modal" data-mdb-target="#exampleModal{{this._id}}">
 delete
</button>

<!-- Modal -->
<div class="modal fade" id="exampleModal{{this._id}}" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Delete</h5>
        <button type="button" class="btn-close" data-mdb-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">Are you sure do you want to delete this product</div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-mdb-dismiss="modal">Close</button>
        <a href="/admin/delete-product/{{this._id}}" class="btn" style="color: red;" >Delete</a>
      </div>
    </div>
  </div>
</div>
</td>
                </tr>
                {{/each}}
            </tbody>
        </table>
    </div>
</section>


<script>
  $(document).ready( function () {
    $('#productsTable').DataTable({
        searching:false   
    });
} );
</script>
<script>
    var divs = document.querySelectorAll('.create_index');
    for (var i = 0; i < divs.length; ++i) {
        divs[i].innerHTML = i + 1;
    }
</script>
