<section>
    <div class="container">

        <form action="/admin/add-offer-category" method="post">
            <!-- Name input -->
            <div class="form-outline mb-4 mt-5 col-4">
                <input type="text" id="form4Example1" class="form-control" name="offerName" />
                <label class="form-label" for="form4Example1">offer Name</label>
            </div>

            <!-- Offer percentage -->
            <div class="form-outline mb-4 col-4">
                <input type="number" id="form4Example1" class="form-control" name="offerpercent" />
                <label class="form-label" for="form4Example1">Offer percentage</label>
            </div>

            <!-- offer Description -->
            <div class="form-outline mb-4 col-4">
                <textarea class="form-control" id="form4Example3" rows="4" name="description"></textarea>
                <label class="form-label" for="form4Example3">offer Description</label>
            </div>

            <input type="text" value="category" hidden>
            <select class="form-select mb-4 col-4" name="category" aria-label="Default select example" required >
                <label class="form-label" for="form4Example3">Select category</label>
                <option></option>
                {{#each datacategory}}
                <option value="{{this.categories}}">{{this.categories}}</option>
                {{/each}}
            </select>
            <!-- Submit button -->
            <button type="submit" class="btn btn-primary btn-block mb-4 col-4">Add Coupon</button>
            {{#if exists}}
            <span class="text-danger">There is already offer in this Category</span>
            {{/if}}
        </form>
    </div>
</section>

<section  class="h-100 mt-4  ">
      <h2 class="text-center">category offer Details</h2>
    
      <div class="container  table-responsive">
        <table class="table shadow text-center ">
          <thead class="table-dark">
            <tr>
            <th ></th>  
              <th scope="col">coupon name</th>
              <th scope="col">offer percentage</th>
              <th scope="col">Description</th>
              <th scope="col">category</th>
              <th scope="col">Delete</th>
            </tr>
          </thead>
          <tbody class="searchable "> 
            {{#each alloffer}}         
            <tr >
         <td class="product-thumbnail"></td>
              <td class="p-5">{{this.offerName}}</td>
              <td class="p-5">{{this.offerpercent}}</td>
              <td class="p-5">{{this.description}}</td> 
              <td class="p-5">{{this.category}}</td>
              <td class="p-5"><button type="button" onclick="sweetAlert('{{this._id}}','{{this.category}}')"><i class="fa fa-trash"></i></button></td>  
              {{/each}}
            </tr>
          </tbody>
        </table>
      </div>
</section>



<script>
  function sweetAlert(offerId,category) {
      swal({
        title: "Are you sure?",
        text: "Once deleted, you will not be able to recover this Coupon",
        icon: "warning",
        buttons: true,
        dangerMode: true,
      })
        .then((willDelete) => {
          if (willDelete) {
            removeOffer(offerId,category);
            swal("Address deleted succesfully..", {
              icon: "success",
            });
          } else {
            swal("Address is safe");
          }
        });
    }

    function removeOffer(offerId,category) {
        console.log(offerId)
        console.log(category)
      $.ajax({
        url: '/admin/delete-offer',
        data: {
          offerId,
          category
        },
        method: 'post',
        success: (response) => {
          if (response.removeOffer) {
            location.reload();
          }
        }
      })
    }

   
</script>
