<section  class="h-100 mt-4  ">
      <h2 class="text-center">Product Details</h2>
    
      <div class="container  table-responsive">
        <table class="table shadow text-center ">
          <thead class="table-dark">
            <tr>
            <th >Image</th>
              <th scope="col">Product</th>
              <th scope="col">Price</th>
              <th scope="col">Quantity</th>
            </tr>
          </thead>
          <tbody class="searchable "> 
            {{#each products}}         
            <tr >
         <td class="product-thumbnail">
                <img src="/product-images/{{this.product._id}}.jpg" alt="Image" style="width: auto;height: 8rem;"
                  class="img-fluid">
              </td>
              <td class="p-5">{{this.product.name}}</td>
              <td class="p-5">Rs.{{this.product.price}}</td>
              <td class="p-5">{{this.quantity}}</td>   
              {{/each}}
            </tr>
          </tbody>
        </table>
      </div>
</section>


{{!--  implement  --}}

<style>
    .track-line {
        height: 2px !important;
        background-color: #488978;
        opacity: 1;
    }

    .track-line-red {
        height: 2px !important;
        background-color: #895548;
        opacity: 1;
    }

    .track-line-grey {
        height: 2px !important;
        background-color: #8d8d8d;
        opacity: 1;
    }

    .dot {
        height: 10px;
        width: 10px;
        margin-left: 3px;
        margin-right: 3px;
        margin-top: 0px;
        background-color: #488978;
        border-radius: 50%;
        display: inline-block
    }

    .white-dot {
        height: 10px;
        width: 10px;
        margin-left: 3px;
        margin-right: 3px;
        margin-top: 0px;
        background-color: #8d8d8d;
        border-radius: 50%;
        display: inline-block
    }

    .red-dot {
        height: 10px;
        width: 10px;
        margin-left: 3px;
        margin-right: 3px;
        margin-top: 0px;
        background-color: #895548;
        border-radius: 50%;
        display: inline-block
    }

    .big-dot {
        height: 25px;
        width: 25px;
        margin-left: 0px;
        margin-right: 0px;
        margin-top: 0px;
        background-color: #488978;
        border-radius: 50%;
        display: inline-block;
    }

    .big-dot-red {
        height: 25px;
        width: 25px;
        margin-left: 0px;
        margin-right: 0px;
        margin-top: 0px;
        background-color: #895548;
        border-radius: 50%;
        display: inline-block;
    }

    .big-dot i {
        font-size: 12px;
    }

    .card-stepper {
        z-index: 0
    }
</style>
<div class="container">
    <section class="h-100 gradient-custom">
        <div class="container py-5 h-100">
            <div class="row d-flex justify-content-center align-items-center h-100">
                <div class="col-lg-10 col-xl-8">
                    <div class="card" style="border-radius: 10px;">
                        <div class="card-header px-4 py-5">
                            <h5 class="text-muted mb-0">Thanks for your Order, <span
                                    style="color: #a8729a;">{{user.name}}</span>!</h5>
                        </div>
                        <div class="card-body p-4">
                            <div class="d-flex justify-content-between align-items-center mb-4">
                                <p class="lead fw-normal mb-0" style="color: #a8729a;">Receipt</p>
                                <p class="small text-muted mb-0">Order ID : {{order._id}}</p>
                            </div>





                            <div class="card shadow-0 border mb-4">
                                <div class="card-body">
                                    {{#each products}}
                                    <div class="row">
                                        <div class="col-md-2">
                                            <img src="/product-images/{{this.product._id}}.jpg" class="img-fluid"
                                                alt="Phone">
                                        </div>
                                        <div
                                            class="col-md-4 text-center d-flex justify-content-center align-items-center">
                                            <p class="fs-5 mb-0">{{this.product.name}}</p>
                                        </div>
                                        <div
                                            class="col-md-2 text-center d-flex justify-content-center align-items-center">
                                            <p class="text-muted mb-0 small">{{this.product.category}}</p>
                                        </div>
                                        <div
                                            class="col-md-2 text-center d-flex justify-content-center align-items-center">
                                            <p class="text-muted mb-0 small">$ {{this.product.price}}.00</p>
                                        </div>
                                        <div
                                            class="col-md-2 text-center d-flex justify-content-center align-items-center">
                                            <p class="text-muted mb-0 small">Qty: {{this.quantity}}</p>
                                        </div>
                                    </div>

                                    <hr class="mb-4" style="background-color: #e0e0e0; opacity: 1;">
                                    {{/each}}
                                    <div class="row d-flex align-items-center">
                                        <div class="col-md-2">
                                            <p class="text-muted mb-0 small">Track Order</p>
                                        </div>
                                        <div class="col-md-10">
                                            <div
                                                class="d-flex flex-row justify-content-between align-items-center align-content-center">

                                                {{#if Placed}}

                                                <span
                                                    class="d-flex justify-content-center align-items-center big-dot dot"><i
                                                        class="fa fa-check text-white"></i></span>
                                                <hr class="flex-fill track-line"><span class="white-dot"></span>
                                                <hr class="flex-fill track-line-grey"><span class="white-dot"></span>
                                                <hr class="flex-fill track-line-grey"><span class="white-dot"></span>
                                                <hr class="flex-fill track-line-grey"><span class="white-dot"></span>
                                            </div>

                                            <div class="d-flex flex-row justify-content-between align-items-center">
                                                <div class="d-flex flex-column align-items-start"><span>{{order.date}}
                                                    </span><span>Order placed</span>
                                                </div>

                                                {{/if}}

                                                {{#if Shipped}}

                                                <span
                                                    class="d-flex justify-content-center align-items-center big-dot dot"><i
                                                        class="fa fa-check text-white"></i></span>
                                                <hr class="flex-fill track-line"><span class="dot"></span>
                                                <hr class="flex-fill track-line"><span
                                                    class="d-flex justify-content-center align-items-center big-dot dot"><i
                                                        class="fa fa-check text-white"></i></span>
                                                <hr class="flex-fill track-line-grey"><span class="white-dot"></span>
                                                <hr class="flex-fill track-line-grey"><span class="white-dot"></span>
                                            </div>

                                            <div class="d-flex flex-row justify-content-between align-items-center">
                                                <div class="d-flex flex-column align-items-start"><span>{{order.date}}
                                                    </span><span>Order placed</span>
                                                </div>
                                                <div class="d-flex flex-column justify-content-center">
                                                    <span></span><span>
                                                    </span>
                                                </div>
                                                <div
                                                    class="d-flex flex-column justify-content-center align-items-center mx-5">
                                                    <span>
                                                    </span><span>Order Shipped</span>
                                                </div>
                                                <div class="d-flex flex-column align-items-center"><span></span><span>
                                                    </span></div>
                                                <div class="d-flex flex-column align-items-end">
                                                    <span></span><span></span>
                                                </div>
                                            </div>



                                            {{/if}}

                                            {{#if Delivered}}

                                            <span
                                                class="d-flex justify-content-center align-items-center big-dot dot"><i
                                                    class="fa fa-check text-white"></i></span>
                                            <hr class="flex-fill track-line"><span class="dot"></i></span>
                                            <hr class="flex-fill track-line"><span
                                                class="d-flex justify-content-center align-items-center big-dot dot"><i
                                                    class="fa fa-check text-white"></i></span>
                                            <hr class="flex-fill track-line"><span class="dot"></span>
                                            <hr class="flex-fill track-line"><span
                                                class="d-flex justify-content-center align-items-center big-dot dot">
                                                <i class="fa fa-check text-white"></i></span>
                                        </div>

                                        <div class="d-flex flex-row justify-content-between align-items-center">
                                            <div class="d-flex flex-column align-items-start"><span>
                                                    Order placed</span><span>{{order.date}}</span>
                                            </div>
                                            <div class="d-flex flex-column justify-content-center">
                                                <span></span><span></span>
                                            </div>
                                            <div class="d-flex flex-column justify-content-center align-items-center">
                                                <span>
                                                </span><span>Order Dispatched</span>
                                            </div>
                                            <div class="d-flex flex-column align-items-center"><span></span><span>
                                                </span></div>
                                            <div class="d-flex flex-column align-items-end">
                                                <span></span><span>Delivered</span>
                                            </div>
                                        </div>


                                        {{/if}}



                                        {{#if Canceled}}


                                        <span class="dot"></span>
                                        <hr class="flex-fill track-line"><span
                                            class="d-flex justify-content-center align-items-center big-dot-red red-dot"><i
                                                class="fa fa-exclamation text-white"></i></span>
                                        <hr class="flex-fill track-line-red"><span class="red-dot"></span>
                                        <hr class="flex-fill track-line-red"><span class="red-dot"></span>
                                        <hr class="flex-fill track-line-red"><span class="red-dot"></span>
                                    </div>

                                    <div class="d-flex flex-row justify-content-between align-items-center">
                                        <div class="d-flex flex-column align-items-start"><span>
                                                {{order.date}}</span><span></span>
                                        </div>
                                        <div class="d-flex flex-column align-items-start"><span>
                                            </span><span>Order Canceled</span>
                                        </div>

                                        {{/if}}
                                        {{#if Return}}


                                        <span class="red-dot"></span>
                                        <hr class="flex-fill track-line-red"><span class="red-dot"></span>
                                        <hr class="flex-fill track-line-red"><span class="red-dot"></span>
                                        <hr class="flex-fill track-line-red"><span class="red-dot"></span>
                                        <hr class="flex-fill track-line-red"><span
                                            class="d-flex justify-content-center align-items-center big-dot-red red-dot"><i
                                                class="fa fa-exclamation text-white"></i></span>
                                    </div>

                                    <div class="d-flex flex-row justify-content-between align-items-center">
                                        <div class="d-flex flex-column align-items-start"><span>
                                                {{order.date}}</span><span></span>
                                        </div>
                                        <div class="d-flex flex-column align-items-start"><span>
                                            </span><span>Order Returned</span>
                                        </div>

                                        {{/if}}
                                    </div>
                                </div>
                            </div>
                        </div>
                        {{#if Delivered}}
                        <div class="d-flex justify-content-between pt-2 mb-5">
                            <button type="button" class="btn btn-warning ml-auto" data-mdb-toggle="modal"
                                data-mdb-target="#exampleModal" data-mdb-whatever="@getbootstrap">Return</button>
                        </div>
                        {{!-- MODAL --}}
                        <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel"
                            aria-hidden="true">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="exampleModalLabel">Return Request</h5>
                                        <button type="button" class="btn-close" data-mdb-dismiss="modal"
                                            aria-label="Close"></button>
                                    </div>
                                    <div class="modal-body">
                                        <form id="returnForm">
                                            <div class="row">
                                                <div class="col md-6">
                                                    <div class="form-check">
                                                        <input class="form-check-input" type="radio" value="refund"
                                                            name="flexRadioDisabled" id="flexRadioDisabled" />
                                                        <label class="form-check-label" for="flexRadioDisabled">
                                                            Refund
                                                        </label>
                                                    </div>
                                                </div>
                                                <div class="col md-6">
                                                    <div class="form-check">
                                                        <input class="form-check-input" type="radio" value="replacement"
                                                            name="flexRadioDisabled" id="flexRadioCheckedDisabled"
                                                            checked />
                                                        <label class="form-check-label"
                                                            for="flexRadioCheckedDisabled">Replacement</label>
                                                    </div>
                                                </div>
                                            </div>



                                            <div class="row m-3">
                                                <small>Select Reason For Refund</small>
                                                <select name="reason" class="select">
                                                    <option value="1">The Product Isn't Convincing </option>
                                                    <option value="2">The Product Description on Website Conveyed Wrong
                                                        Information</option>
                                                    <option value="3">Changed Opinion Or Need</option>
                                                    <option value="4">Purchase arrived too late</option>
                                                    <option value="5">Incorrect product size</option>
                                                    <option value="6">Others</option>
                                                </select>
                                            </div>
                                            <div class="m-3">
                                                <label for="message-text" class="col-form-label">Comments:</label>
                                                <textarea class="form-control" name="comments"
                                                    id="message-text"></textarea>
                                                <input name="orderID" value="{{order._id}}" hidden>

                                            </div>


                                            <div class="modal-footer">
                                                <button type="button" class="btn btn-secondary"
                                                    data-mdb-dismiss="modal">Close</button>
                                                <button type="sumbit" class="btn btn-primary">Request Return</button>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>

                            {{/if}}

                            {{#if Placed}}
                        </div>
                        <div class="d-flex justify-content-between pt-2">
                            <a class="btn btn-warning ml-auto" href="/cancel-order-products/{{order._id}}">Cancel
                                Order</a>

                            {{/if}}
                            {{#if Shipped}}
                            <div class="d-flex justify-content-between pt-2">
                                <a class="btn btn-warning ml-auto" href="/cancel-order-products/{{order._id}}">Cancel
                                    Order</a>

                                {{/if}}
                            </div>
                        </div>


                        <div class="d-flex justify-content-between px-3 mt-3">
                            <p class="fw-bold mb-0">Order Details</p>

                            <p class="text-muted mb-0"><span class="fw-bold me-4">Total</span>
                                ${{order.productsNetAmount}}
                            </p>
                        </div>

                        <div class="d-flex justify-content-between px-3">
                            <p class="text-muted mb-0">Date : {{order.date}}</p>
                            <p class="text-muted mb-0"><span class="fw-bold me-4">Discount</span>0.00</p>
                        </div>

                        <div class="d-flex justify-content-between mb-5 px-3">
                            <p class="text-muted mb-0">Payment Method : {{order.paymentMethod}}</p>
                            <p class="text-muted mb-0"><span class="fw-bold me-4">Delivery Charges</span>Free</p>
                        </div>
                    </div>
                    <div class="card-footer border-0 px-4 py-5"
                        style="background-color: #a8729a; border-bottom-left-radius: 10px; border-bottom-right-radius: 10px;">
                        <h5 class="d-flex align-items-center justify-content-end text-white text-uppercase mb-0">Total
                            paid: <span class="h2 mb-0 ms-2">${{order.productsNetAmount}}</span></h5>
                    </div>
                </div>
            </div>
        </div>
</div>
</section>
</div>

<script>
    $("#returnForm").submit((e) => {
        console.log('aoicalled')
        e.preventDefault()
        $.ajax({
            url: '/return-product',
            method: 'post',
            data: $('#returnForm').serialize(),
            success: (response) => {
                console.log('success')
                location.replace('/orders')
            }
        })
    })
</script>