<section>
    <div class="container">
        <table class="table mt-4" id="usersTable">
            <thead>
                <tr>
                    <th scope="col">No</th>
                    <th scope="col">date</th>
                    <th scope="col">name</th>
                    <th scope="col">address</th>
                    <th scope="col">Email</th>
                    <th scope="col">mobile</th>
                    <th scope="col">payment Method</th>
                    <th scope="col">Amount</th>
                    <th scope="col">status</th> 
                    <th scope="col">Products</th>
                    <th scope="col">userInfo</th>
                </tr>
            </thead>
            <tbody>
                {{#each order}}
                <tr>
                    <td ><span class="create_index"></span></td>
                    <td>{{this.date}}</td>
                    <td> {{this.deliveryDetails.name}}</td>           
                    <td>{{this.deliveryDetails.address}} {{this.deliveryDetails.pincode}} {{this.deliveryDetails.state}}</td>
                    <td>{{this.deliveryDetails.email}}</td>
                    <td>{{this.deliveryDetails.mobile}}</td>
                    <td>{{this.PaymentMethod}}</td>
                    <td>Rs.{{this.totalAmount}}</td>
                    <td >
                     <select class="form-select" name="status" id="{{this._id}}" onchange="changeStatus('{{this._id}}')" >
                        <option value={{this.status}}  selected>{{this.status}}</option>
                        {{!-- {{#if this.status =='placed'}}
                            <option value="" checked>placed</option>
                        {{/if}}
                         <option value=""{{#if this.status =='shipped'}}checked {{/if}}>shipped</option>
                        <option value=""{{#if this.status =='out of delivered'}}checked {{/if}}>out of delivered</option>
                        <option value=""{{#if this.status =='cancelled'}}checked {{/if}}>cancelled</option> --}}
                       
                        <option value="">placed</option>
                        <option value="">shipped</option>
                        <option value="">out of delivered</option> 
                        <option value="">cancelled</option>
                    </select> 
                    </td>
                    <td> <a href="/admin/view-ordered-products-admin/{{this._id}}"  class="btn text-white bg-dark border-0" >products</a> </td>      
                    <td> <a href="/admin/view-ordered-users-admin/{{this._id}}"  class="btn text-white bg-dark border-0" >user Info</a> </td>                          
                    {{!-- <td> <a href="/cancel-order-admin/{{this._id}}" class="btn" style="color: red;" onclick="return confirm('Are you want to delete {{this.name}} user')">Cancel Order</a></td> --}}
                </tr>
                {{/each}}
            </tbody>
        </table>
    </div>
</section>


<script>
     var divs = document.querySelectorAll('.create_index');
     for (var i = 0; i < divs.length; ++i) {
        divs[i].innerHTML = i + 1;
    }

    function changeStatus(orderId){
            let st=document.getElementById(orderId)    
            let stat =st.options[st.selectedIndex].text
               $.ajax({
            url:'/admin/change-order-status',                                                                                                   
            data:{
                order:orderId,
                stat:stat
            },
            method: 'post',  
            success:(response)=>{
                console.log(response)
            }

        })
    }   
</script>
