{{!--================================================================Sample page for testing==================== --}}
<div class="container">
          <div class="site-wrap">
            <div class="site-section">
      
              <div class="row">
                <form action='/place-order' method="post" id="checkout-form">
                  <div class="col-md-6 mb-5 mb-md-0">
                    <h2 class="h3 mb-3 text-black">Billing Details</h2>
                    <div class="p-3 p-lg-5 border">
                      {{!-- <div class="form-group row">
                        <div class="col-md-6">
                          <label for="c_fname" class="text-black">First Name <span class="text-danger">*</span></label>
                          <input type="text" class="form-control" id="c_fname" name="fname" required>
                        </div>
                        <div class="col-md-6">
                          <label for="c_lname" class="text-black">Last Name <span class="text-danger">*</span></label>
                          <input type="text" class="form-control" id="c_lname" name="lname" required>
                          <input type="text" name="userId" id="" value="{{user._id}}" hidden>
                        </div>
                      </div>
      
                      <div class="form-group row">
                        <div class="col-md-12">
                          <label for="c_address" class="text-black">Address <span class="text-danger">*</span></label>
                          <input type="text" class="form-control" id="c_address" name="address" placeholder="Street address"
                            required>
                        </div>
                      </div>
      
                      <div class="form-group">
                        <input type="text" class="form-control" placeholder="Apartment, suite, unit etc. (optional)">
                      </div>
      
                      <div class="form-group row">
                        <div class="col-md-6">
                          <label for="c_state_country" class="text-black">State <span class="text-danger">*</span></label>
                          <input type="text" class="form-control" id="c_state_country" name="state" required>
                        </div>
                        <div class="col-md-6">
                          <label for="c_postal_zip" class="text-black">Pincode <span class="text-danger">*</span></label>
                          <input type="text" class="form-control" id="c_postal_zip" name="pincode" required>
                        </div>
                      </div>
      
                      <div class="form-group row mb-5">
                        <div class="col-md-6">
                          <label for="c_email_address" class="text-black">Email Address <span
                              class="text-danger">*</span></label>
                          <input type="text" class="form-control" id="c_email_address" name="email" required>
                        </div>
                        <div class="col-md-6">
                          <label for="c_phone" class="text-black">Phone <span class="text-danger">*</span></label>
                          <input type="text" class="form-control" id="c_phone" name="mobile" placeholder="Phone Number"
                            required>
                        </div>
                      </div> --}}
      
      
      
      
      
      
      
                      <div class="form-group">
                        <label for="c_ship_different_address" class="text-black" data-toggle="collapse"
                          href="#ship_different_address" role="button" aria-expanded="false"
                          aria-controls="ship_different_address"><input type="checkbox" value="1" name="check"
                            id="c_ship_different_address">
                          Enter the name</label>
                        <div class="collapse" id="ship_different_address">
                          <div class="py-2">
                            {{!-- //================================ --}}
                            {{!-- //================================ --}}
                            {{!-- //================================ --}}
      
      
                            <div class="form-group row">
                              <div class="col-md-6">
                                <label for="c_fname" class="text-black">First Name <span class="text-danger">*</span></label>
                                <input type="text" class="form-control" id="c_fname" name="fname" value="{{user.name}}">
                              </div>
                              <div class="col-md-6">
                                <label for="c_lname" class="text-black">Last Name <span class="text-danger">*</span></label>
                                <input type="text" class="form-control" id="c_lname" name="lname">
                                <input type="text" name="userId" id="" value="{{user._id}}" hidden>
                              </div>
                            </div>
      
      
      
      
                          </div>
      
                        </div>
                      </div>
                      {{!--
                      <div class="border-dark border-1 border">
                        <div class="input-group mb-3">
                          <div class="input-group-prepend">
                            <div class="input-group-text">
                              <input type="checkbox" aria-label="Checkbox for following text input" name="check">
                            </div>
                          </div>
                          <input class="form-control" aria-label="Text input with checkbox" value="{{user.name}}"
                            name="name2">
                        </div>
      
                        <input class="form-control" aria-label="Text input with checkbox"
                          value="{{user.address}} {{user.state}} {{user.pincode}} " name="address2">
                        <input class="form-control" aria-label="Text input with checkbox" value=" {{user.number}}"
                          name="number2">
                        <input class="form-control" aria-label="Text input with checkbox" value=" {{user.email}} "
                          name="email2">
                      </div>--}}
                    </div>
                  </div>
                  <div class="col-md-6">
                    <h1 class="h3 mb-2 text-black text-center">Saved Address</h1>
                    <div class="form-check">
                      <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault1" value="OG"
                        style="margin-top: 34px;">
                      <label class="form-check-label" for="flexRadioDefault1">
                    </div>
                    <div class="col-12 ml-3">
                      <input type="text" class="form-control" id="c_address" name="address" value="{{user.address}}" disabled>
                      <input type="text" class="form-control" id="c_state_country" name="state" value="{{user.state}}"
                        disabled>
                      <input type="text" class="form-control" id="c_postal_zip" name="pincode" value=" {{user.pincode}}"
                        disabled>
                      <input type="text" class="form-control" id="c_email_address" name="email" value="{{user.email}} "
                        disabled>
                      <input type="text" class="form-control" id="c_phone" name="mobile" value="{{user.number}}" disabled>
                    </div>
                    <div class="col-12 ml-3 d-none">
                      <input type="text" class="form-control" id="c_address" name="address" value="{{user.address}}">
                      <input type="text" class="form-control" id="c_state_country" name="state" value="{{user.state}}">
                      <input type="text" class="form-control" id="c_postal_zip" name="pincode" value=" {{user.pincode}}">
                      <input type="text" class="form-control" id="c_email_address" name="email" value="{{user.email}} ">
                      <input type="text" class="form-control" id="c_phone" name="mobile" value="{{user.number}}">
                    </div>
                    </label>
                    {{!--
                  </div> --}}
      
      
                  <h2 class="h5 mb-3 text-black text-center">New address</h2>
                  <div class="form-check">
                    <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault1" value="NEW"
                      style="margin-top: 34px;">
                    <label class="form-check-label" for="flexRadioDefault1">
                  </div>
                  <div class="col-12 ml-3">
                    <input type="text" class="form-control" id="c_address" name="address2" placeholder="Street address">
                    <input type="text" class="form-control" id="c_state_country" name="state2" placeholder="state">
                    <input type="text" class="form-control" id="c_postal_zip" name="pincode2" placeholder="pincode">
                    <input type="text" class="form-control" id="c_email_address" name="email2" placeholder="email">
                    <input type="text" class="form-control" id="c_phone" name="number2" placeholder="Phone Number">
                  </div>
                  </label>
      
      
      
      
                  <div class="row mb-5">
                    <div class="col-md-12">
                      <h2 class="h3 mb-3 text-black">Coupon Code</h2>
                      <div class="p-3 p-lg-5 border">
      
                        <label for="c_code" class="text-black mb-3">Enter your coupon code if you have one</label>
                        <div class="input-group w-75">
                          <input type="text" class="form-control" id="c_code" placeholder="Coupon Code"
                            aria-label="Coupon Code" aria-describedby="button-addon2">
                          <div class="input-group-append">
                            <button class="btn btn-primary btn-sm" type="button" id="button-addon2">Apply</button>
                          </div>
                        </div>
      
                      </div>
                    </div>
                  </div>
      
                  <div class="row mb-5 md-6">
                    <div class="col-md-12">
                      <h2 class="h3 mb-3 text-black">Your Order</h2>
                      <div class="p-3 p-lg-5 border">
                        <table class="table site-block-order-table mb-5">
                          <thead>
                            <th>Product</th>
                            <th>Total</th>
                          </thead>
                          {{#each products}}
                          <tbody>
                            <tr>
                              <td>{{this.product.name}}<strong class="mx-2">x</strong>{{this.quantity}}</td>
                              <td>Rs.{{this.product.price}}x{{this.quantity}}</td>
                              {{!-- <td>Rs.{{this.totalOne}}</td> --}}
                            </tr>
                            {{/each}}
                            <tr>
                              <td class="text-black font-weight-bold"><strong>Order Total</strong></td>
                              <td class="text-black font-weight-bold" name="total"><strong>Rs.{{total}}</strong></td>
                            </tr>
                          </tbody>
                        </table>
      
                        {{!-- //================================ --}}
      
      
                        {{!-- <div class="border p-3 mb-3">
                          <h3 class="h6 mb-0"><a class="d-block" data-toggle="collapse" href="#collapsebank" role="button"
                              aria-expanded="false" aria-controls="collapsebank">Direct Bank Transfer</a></h3>
                        </div>
      
                        <div class="border p-3 mb-3">
                          <h3 class="h6 mb-0"><a class="d-block" data-toggle="collapse" href="#collapsecheque" role="button"
                              aria-expanded="false" aria-controls="collapsecheque">COD</a></h3>
                        </div>
      
                        <div class="border p-3 mb-5">
                          <h3 class="h6 mb-0"><a class="d-block" data-toggle="collapse" href="#collapsepaypal" role="button"
                              aria-expanded="false" aria-controls="collapsepaypal">Paypal</a></h3>
                        </div> --}}
      
                        <div class="form-check border p-1 mb-5">
                          <input class="form-check-input" type="radio" value="BANK" name="payment-method"
                            id="flexRadioDefault1">
                          <label class="form-check-label" for="flexRadioDefault1">
                            Direct bank Transfer
                          </label>
                        </div>
                        <div class="form-check border p-1 mb-5">
                          <input class="form-check-input" type="radio" value="COD" name="payment-method"
                            id="flexRadioDefault2" checked>
                          <label class="form-check-label" for="flexRadioDefault2">
                            COD
                          </label>
                        </div>
                        <div class="form-check border p-1 mb-5">
                          <input class="form-check-input" type="radio" value="ONLINE" name="payment-method"
                            id="flexRadioDefault2" checked>
                          <label class="form-check-label" for="flexRadioDefault2">
                            ONLINE
                          </label>
                        </div>
                        <div class="form-group">
                          <button class="btn btn-primary btn-lg py-3 btn-block" type="submit">Place Order</button>
                        </div>
                      </div>
                    </div>
                  </div>
              </div>
              </form>
            </div>
          </div>
        </div>
      
        </div>











        {{!-- 2 --}}



<div class="site-wrap">
  <div class="bg-light py-3">
    <div class="container">
      <div class="row">
        <div class="col-md-12 mb-0"><a href="index.html">Home</a> <span class="mx-2 mb-0">/</span> <a
            href="cart.html">Cart</a> <span class="mx-2 mb-0">/</span> <strong class="text-black">Checkout</strong>
        </div>
      </div>
    </div>
  </div>

  <div class="site-section">
    <div class="container">
      <div class="row">
        <div class="col-md-6 mb-5 mb-md-0">
          <h2 class="h3 mb-3 text-black">Billing Details</h2>
          <div class="p-3 p-lg-5 border">
            <h4 style="color: #553c9a">Saved Address</h4>
            {{!-- Saved address --}}
 <form action='/place-order' method="post" >
            <div class="form-check border p-1 mb-5">
              <input class="form-check-input" type="radio" value="COD" name="payment-method" id="flexRadioDefault2"
                checked>
              <label class="form-check-label" for="flexRadioDefault2">
                {{user.address}} <br> {{user.state}} <br>{{user.pincode}}
              </label>
            </div>

            <div class="form-group">
              <label for="c_ship_different_address" class="text-black" data-toggle="collapse"
                href="#ship_different_address" role="button" aria-expanded="false"
                aria-controls="ship_different_address"><input type="checkbox" value="1" id="c_ship_different_address">
                Ship To A Different Address?</label>
              <div class="collapse" id="ship_different_address">
                <div class="py-2">

                  <div class="form-group">
                    <label for="c_diff_country" class="text-black">Country <span class="text-danger">*</span></label>
                    <select id="c_diff_country" class="form-control">
                      <option value="1">Select a country</option>
                      <option value="2">bangladesh</option>
                      <option value="3">Algeria</option>
                      <option value="4">Afghanistan</option>
                      <option value="5">Ghana</option>
                      <option value="6">Albania</option>
                      <option value="7">Bahrain</option>
                      <option value="8">Colombia</option>
                      <option value="9">Dominican Republic</option>
                      <option value="9">India</option>
                    </select>
                  </div>


                  <div class="form-group row">
                    <div class="col-md-6">
                      <label for="c_diff_fname" class="text-black">First Name <span class="text-danger">*</span></label>
                      <input type="text" class="form-control" id="c_diff_fname" name="c_diff_fname">
                    </div>
                    <div class="col-md-6">
                      <label for="c_diff_lname" class="text-black">Last Name <span class="text-danger">*</span></label>
                      <input type="text" class="form-control" id="c_diff_lname" name="c_diff_lname">
                    </div>
                  </div>

                  <div class="form-group row">
                    <div class="col-md-12">
                      <label for="c_diff_address" class="text-black">Address <span class="text-danger">*</span></label>
                      <input type="text" class="form-control" id="c_diff_address" name="c_diff_address"
                        placeholder="Street address">
                    </div>
                  </div>

                  <div class="form-group row">
                    <div class="col-md-6">
                      <label for="c_diff_state_country" class="text-black">State / Country <span
                          class="text-danger">*</span></label>
                      <input type="text" class="form-control" id="c_diff_state_country" name="c_diff_state_country">
                    </div>

                  </div>

                  <div class="form-group row mb-5">
                    <div class="col-md-6">
                      <label for="c_diff_email_address" class="text-black">Email Address <span
                          class="text-danger">*</span></label>
                      <input type="text" class="form-control" id="c_diff_email_address" name="c_diff_email_address">
                    </div>
                    <div class="col-md-6">
                      <label for="c_diff_phone" class="text-black">Phone <span class="text-danger">*</span></label>
                      <input type="text" class="form-control" id="c_diff_phone" name="c_diff_phone"
                        placeholder="Phone Number">
                    </div>
                  </div>

                </div>

              </div>
            </div>

          </div>
        </div>
        <div class="col-md-6">

          <div class="row mb-5">
            <div class="col-md-12">
              <h2 class="h3 mb-3 text-black">Coupon Code</h2>
              <div class="p-3 p-lg-5 border">

                <label for="c_code" class="text-black mb-3">Enter your coupon code if you have one</label>
                <div class="input-group w-75">
                  <input type="text" class="form-control" id="c_code" placeholder="Coupon Code" aria-label="Coupon Code"
                    aria-describedby="button-addon2">
                  <div class="input-group-append">
                    <button class="btn btn-primary btn-sm" type="button" id="button-addon2">Apply</button>
                  </div>
                </div>

              </div>
            </div>
          </div>
    
          <div class="row mb-5">
            <div class="col-md-12">
              <h2 class="h3 mb-3 text-black">Your Order</h2>
              <div class="p-3 p-lg-5 border">
                <table class="table site-block-order-table mb-5">
                  <thead>
                    <th>Product</th>
                    <th>Total</th>
                  </thead>
                  {{#each products}}
                  <tbody>
                    <tr>
                      <td>{{this.product.name}}<strong class="mx-2">x</strong>{{this.quantity}}</td>
                      <td>Rs.{{this.product.price}}x{{this.quantity}}</td>
                      {{!-- <td>Rs.{{this.totalOne}}</td> --}}
                    </tr>
                    {{/each}}
                    <tr>
                      <td class="text-black font-weight-bold"><strong>Order Total</strong></td>
                      <td class="text-black font-weight-bold" name="total"><strong>Rs.{{total}}</strong></td>
                    </tr>
                  </tbody>
                </table>
                <div class="border p-3 mb-3">
                  <h3 class="h6 mb-0">
                    <div class="form-check">
                      <input class="form-check-input" type="checkbox" id="flexCheckDefault" value="Bank Transfer"
                        name="payment-method" />
                      <label class="form-check-label" for="flexCheckDefault">Paypal</label>
                  </h3>
                </div>

                <div class="border p-3 mb-3">
                  <h3 class="h6 mb-0">
                    <div class="form-check">
                      <input class="form-check-input" type="checkbox" id="flexCheckDefault" value="COD"
                        name="payment-method" />
                      <label class="form-check-label" for="flexCheckDefault">COD</label>
                  </h3>
                </div>

                <div class="border p-3 mb-3">
                  <h3 class="h6 mb-0">
                    <div class="form-check">
                      <input class="form-check-input" type="checkbox" id="flexCheckDefault" value="Bank Transfer"
                        name="payment-method" />
                      <label class="form-check-label" for="flexCheckDefault">Razorpay</label>
                  </h3>
                </div>

                <div class="form-group">
             
                      <button class="btn btn-primary btn-lg py-3 btn-block" type="submit">Place Order</button> 
                  </form>
      
                </div>

              </div>
            </div>
        </div>
       
      </div>
    </div>
  </div>
</div>



<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>

<script>


  $("input:checkbox").on('click', function () {
    // in the handler, 'this' refers to the box clicked on
    var $box = $(this);
    if ($box.is(":checked")) {
      // the name of the box is retrieved using the .attr() method
      // as it is assumed and expected to be immutable
      var group = "input:checkbox[name='" + $box.attr("name") + "']";
      // the checked state of the group/box on the other hand will change
      // and the current value is retrieved using .prop() method
      $(group).prop("checked", false);
      $box.prop("checked", true);
    } else {
      $box.prop("checked", false);
    }
  });
</script>





 {{!-- ================= --}}

 
<div class="site-wrap">
  <div class="bg-light py-3">
    <div class="container">
      <div class="row">
        <div class="col-md-12 mb-0"><a href="index.html">Home</a> <span class="mx-2 mb-0">/</span> <a
            href="cart.html">Cart</a> <span class="mx-2 mb-0">/</span> <strong class="text-black">Checkout</strong>
        </div>
      </div>
    </div>
  </div>

  <div class="site-section">
    <div class="container">
      <div class="row">
        <div class="col-md-6 mb-5 mb-md-0">
          <h2 class="h3 mb-3 text-black">Billing Details</h2>
          <div class="p-3 p-lg-5 border">
            <h4 style="color: #553c9a">Saved Address</h4>
            {{!-- Saved address --}}
 <form action='/place-order' method="post" >
            <div class="form-check border p-1 mb-5">
              <input class="form-check-input" type="radio" value="COD" name="payment-method" id="flexRadioDefault2"
                checked>
              <label class="form-check-label" for="flexRadioDefault2">
                {{user.address}} <br> {{user.state}} <br>{{user.pincode}}
              </label>
            </div>

            <div class="form-group">
              <label for="c_ship_different_address" class="text-black" data-toggle="collapse"
                href="#ship_different_address" role="button" aria-expanded="false"
                aria-controls="ship_different_address"><input type="checkbox" value="1" id="c_ship_different_address">
                Ship To A Different Address?</label>
              <div class="collapse" id="ship_different_address">
                <div class="py-2">

                  <div class="form-group">
                    <label for="c_diff_country" class="text-black">Country <span class="text-danger">*</span></label>
                    <select id="c_diff_country" class="form-control">
                      <option value="1">Select a country</option>
                      <option value="2">bangladesh</option>
                      <option value="3">Algeria</option>
                      <option value="4">Afghanistan</option>
                      <option value="5">Ghana</option>
                      <option value="6">Albania</option>
                      <option value="7">Bahrain</option>
                      <option value="8">Colombia</option>
                      <option value="9">Dominican Republic</option>
                      <option value="9">India</option>
                    </select>
                  </div>


                  <div class="form-group row">
                    <div class="col-md-6">
                      <label for="c_diff_fname" class="text-black">First Name <span class="text-danger">*</span></label>
                      <input type="text" class="form-control" id="c_diff_fname" name="c_diff_fname">
                    </div>
                    <div class="col-md-6">
                      <label for="c_diff_lname" class="text-black">Last Name <span class="text-danger">*</span></label>
                      <input type="text" class="form-control" id="c_diff_lname" name="c_diff_lname">
                    </div>
                  </div>

                  <div class="form-group row">
                    <div class="col-md-12">
                      <label for="c_diff_address" class="text-black">Address <span class="text-danger">*</span></label>
                      <input type="text" class="form-control" id="c_diff_address" name="c_diff_address"
                        placeholder="Street address">
                    </div>
                  </div>

                  <div class="form-group row">
                    <div class="col-md-6">
                      <label for="c_diff_state_country" class="text-black">State / Country <span
                          class="text-danger">*</span></label>
                      <input type="text" class="form-control" id="c_diff_state_country" name="c_diff_state_country">
                    </div>

                  </div>

                  <div class="form-group row mb-5">
                    <div class="col-md-6">
                      <label for="c_diff_email_address" class="text-black">Email Address <span
                          class="text-danger">*</span></label>
                      <input type="text" class="form-control" id="c_diff_email_address" name="c_diff_email_address">
                    </div>
                    <div class="col-md-6">
                      <label for="c_diff_phone" class="text-black">Phone <span class="text-danger">*</span></label>
                      <input type="text" class="form-control" id="c_diff_phone" name="c_diff_phone"
                        placeholder="Phone Number">
                    </div>
                  </div>

                </div>

              </div>
            </div>

          </div>
        </div>
        <div class="col-md-6">

          <div class="row mb-5">
            <div class="col-md-12">
              <h2 class="h3 mb-3 text-black">Coupon Code</h2>
              <div class="p-3 p-lg-5 border">

                <label for="c_code" class="text-black mb-3">Enter your coupon code if you have one</label>
                <div class="input-group w-75">
                  <input type="text" class="form-control" id="c_code" placeholder="Coupon Code" aria-label="Coupon Code"
                    aria-describedby="button-addon2">
                  <div class="input-group-append">
                    <button class="btn btn-primary btn-sm" type="button" id="button-addon2">Apply</button>
                  </div>
                </div>

              </div>
            </div>
          </div>
    
          <div class="row mb-5">
            <div class="col-md-12">
              <h2 class="h3 mb-3 text-black">Your Order</h2>
              <div class="p-3 p-lg-5 border">
                <table class="table site-block-order-table mb-5">
                  <thead>
                    <th>Product</th>
                    <th>Total</th>
                  </thead>
                  {{#each products}}
                  <tbody>
                    <tr>
                      <td>{{this.product.name}}<strong class="mx-2">x</strong>{{this.quantity}}</td>
                      <td>Rs.{{this.product.price}}x{{this.quantity}}</td>
                      {{!-- <td>Rs.{{this.totalOne}}</td> --}}
                    </tr>
                    {{/each}}
                    <tr>
                      <td class="text-black font-weight-bold"><strong>Order Total</strong></td>
                      <td class="text-black font-weight-bold" name="total"><strong>Rs.{{total}}</strong></td>
                    </tr>
                  </tbody>
                </table>
                <div class="border p-3 mb-3">
                  <h3 class="h6 mb-0">
                    <div class="form-check">
                      <input class="form-check-input" type="checkbox" id="flexCheckDefault" value="Bank Transfer"
                        name="payment-method" />
                      <label class="form-check-label" for="flexCheckDefault">Paypal</label>
                  </h3>
                </div>

                <div class="border p-3 mb-3">
                  <h3 class="h6 mb-0">
                    <div class="form-check">
                      <input class="form-check-input" type="checkbox" id="flexCheckDefault" value="COD"
                        name="payment-method" />
                      <label class="form-check-label" for="flexCheckDefault">COD</label>
                  </h3>
                </div>

                <div class="border p-3 mb-3">
                  <h3 class="h6 mb-0">
                    <div class="form-check">
                      <input class="form-check-input" type="checkbox" id="flexCheckDefault" value="Bank Transfer"
                        name="payment-method" />
                      <label class="form-check-label" for="flexCheckDefault">Razorpay</label>
                  </h3>
                </div>

                <div class="form-group">
             
                      <button class="btn btn-primary btn-lg py-3 btn-block" type="submit">Place Order</button> 
                  </form>
      
                </div>

              </div>
            </div>
        </div>
       
      </div>
    </div>
  </div>
</div>



<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>

<script>


  $("input:checkbox").on('click', function () {
    // in the handler, 'this' refers to the box clicked on
    var $box = $(this);
    if ($box.is(":checked")) {
      // the name of the box is retrieved using the .attr() method
      // as it is assumed and expected to be immutable
      var group = "input:checkbox[name='" + $box.attr("name") + "']";
      // the checked state of the group/box on the other hand will change
      // and the current value is retrieved using .prop() method
      $(group).prop("checked", false);
      $box.prop("checked", true);
    } else {
      $box.prop("checked", false);
    }
  });
</script>



